source https://www.nuget.org/api/v2
nuget FsCheck
nuget FsCheck.Xunit
nuget FSharp.Data
nuget FsUnit
nuget FsUnit.xUnit
nuget Unquote
nuget xunit
nuget WebSharper
nuget WebSharper.UI.Next
nuget WebSharper.Data
nuget WebSharper.Charting